*{
    margin: 0px;
    padding: 0px;
}
html.body{
    background-color: #bbb;
}
#headingTag{
    font-size: 30px;
    text-align: center;
    margin: 4%;
}
#content{
    display:grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #000;
    color: #aaa;
    margin: 0 auto;
    max-width: 300px;
}
input[type="text"] {
    font-size: 22px;
    width: 160px;
    border: transparent;
    float: right;
    text-align: right;    
  }

#display{
    background-color: black;
    color: white;
    border: none;
    margin: 0px 10px ;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
}
#result{
    width: 300px;
}
#keys{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);   
    width: 300px;
    border-top: 2px solid grey;
    
}
.btn{
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    font-size: 20px;
    border: none;
    background-color: #ccc;
}
.btn:hover{
    background-color: #ccccccdc;
}
.btn:active{
    background-color: #ccccccb7;
}
#keyOperator{
    background-color: #FF9500;
}
#keyOperator:hover{
    background-color: #ff9500dc;
}
#keyOperator:active{
    background-color: #ff9500b7;
}